body{
    display:flex;
justify-content: center;
align-items: center;
background:red url(galaxy.jpg) no-repeat  ;
height: 90vh;
}
#home-div{
display: flex;
position:relative;
justify-content: center;
width:430px;
height: 360px;
background-color:rgba(111, 13, 150, 0.459);
align-items: center;
border-radius: 20px;
right: 15px;
box-shadow: 4px 8px 10px rgba(193, 15, 209, 0.747);
text-align: center;
transform: scale(1.4);
transition: 0.2s;
}
input{
    font-family: monospace;
    width:350px;
    height:40px;
font-size:25px;
background-color: rgb(255, 255, 255);
text-align: center;
}
#submit-button{
position: relative;
margin-top: 0px;
    width: 150px;
    font-family: monospace;
    background-color: rgb(106, 45, 204);
  height: 30px;
  border-radius: 20px;
color: white;
transition:all 0.2s;
font-size: 15px;
cursor:pointer;
}

#submit-button:hover{
    box-shadow: inset 150px 0 0 0 rgb(255, 74, 3);
    color:rgb(255, 255, 255);
    transform: scale(1.1);
    
}
#label{
    position: relative;
    width:100px;
    font-size: 30px;
    color: rgb(18, 255, 30);
    font-family:sans-serif;
    border: 2px solid rgb(136, 255, 24);
    border-radius: 10px;
}
#home-div:hover{
    transform: scale(1.3);
}